*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


nav{
   
    background: #ffffff;
    height: 10vh;
    width: 100%;
    margin-top: 8px;
    display: flex;align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    color: #4c4b4b;
    position: fixed;
    box-shadow: 0px 5px 3px rgb(235, 231, 231);
    
}
#new{
    font-size: 9px;
    color: red;
}
.logo{
    width: 8%;
    display: flex;
    height: 11.5vh;
    justify-content: space-evenly;
    align-items: center;
}
#logoimg{
    width: 60px;
    height: 50px;
}

div:not(.logo){
   display: flex;
   justify-content: space-evenly;
   align-items: center;
    width: 42%;
    height: 11.5vh;
    font-size: small;
    
}
nav>.search-bar{
    width: 33%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

   
   
    
}
#search{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border: #c2dce8 solid 1px;
    border-radius: 5px ;
    
}
nav>.profile{
   width: 4%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
   
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    flex-direction: column;
    align-items: center;
  
}
nav>.wishlist{
    width: 4%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    flex-direction: column;
    align-items: center;
   
   

}
nav>.bag{
    width: 4%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    flex-direction: column;
    align-items: center;



}
/* nav>.sale{
    width: 1000vw;
    height: 8vh;
    background: rgb(238, 248, 253);
    display: inline-block;
}
nav>.sale>p{
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.banner1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    margin-left: 150px;
    font-size: larger;
   
}
.banner>img{
    height: 50vh;
    width: 150px;
}
.banner2>#img1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 330px;
    margin-left: 150px;
    width: 100%;
    height: 50vh;
}
.banner2>#img2{
   
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 330px;
        width: 100%;
        height: 50vh;
} */
 .banner1>img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 510px;
    height: 55vh;
   ;
    display: block;
    
    
 }
 #risingstar{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top: 475px;
    margin-left: 50px;
 }
 .banner2{
    margin-top: 210px;
    width: 100%;
    height: 30vh;
    
 }
 .banner2>#a{
    width: 50%;

 }
 .banner2>#b{
    width: 50%;

 }
 .banner2>#c{
    width: 50%;

 }
 .banner2>#d{
    width: 50%;

 }
 .banner2>#e{
    width: 50%;

 }

 #brands{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top: 240px;
    margin-left: 50px; 
 }

 .luxurybrands h1 {
    height: 15vh;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 50px;
    margin-top: 200px;
  }
  .luxurybrands section {
    display: flex;
  }
  .luxurybrands div {
    margin-top: 60px;
    width: 20%;
    height: 45vh;
    border: 1px solid;
    
  }

  
 .worthybrands h1 {
    height: 15vh;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 50px;
    margin-top: 75px;
  }
  .worthybrands section {
    display: flex;
  }
  .worthybrands div {
    margin-top: 60px;
    width: 20%;
    height: 45vh;
    border: 1px solid;
    
  }

  .worthybrands h1 {
    height: 15vh;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 50px;
    margin-top: 75px;
  }
  .worthybrands section {
    display: flex;
  }
  .worthybrands div {
    margin-top: 60px;
    width: 20%;
    height: 45vh;
    border: 1px solid;
    
  }

  .Globalbrands h1 {
    height: 15vh;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 50px;
    margin-top: 75px;
  }
  .Globalbrands section {
    display: flex;
  }
  .Globalbrands div {
    margin-top: 60px;
    width: 20%;
    height: 45vh;
    border: 1px solid;
    
  }

  .category1 h1 {
    height: 15vh;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 50px;
    margin-top: 75px;
  }
  .category1 section {
    display: flex;
  }
  .category1 div {
    margin-top: 60px;
    width: 20%;
    height: 45vh;
    border: 15px solid;
    
  }

  
  .category2 section {
    display: flex;
  }
  .category2 div {
    margin-top: 25px;
    width: 20%;
    height: 45vh;
    border: 15px solid;
    
  }

  .category3 section {
    display: flex;
  }
  .category3 div {
    margin-top: 25px;
    width: 20%;
    height: 45vh;
    border: 15px solid;
    
  }

  .category4 section {
    display: flex;
  }
  .category4 div {
    margin-top: 25px;
    width: 20%;
    height: 45vh;
    border: 15px solid;
    
  }

  .category5 section {
    display: flex;
  }
  .category5 div {
    margin-top: 25px;
    width: 20%;
    height: 45vh;
    border: 15px solid;
    
  }
  .category6 section {
    display: flex;
    margin-left: 380px;
  }
  .category6 div {
    margin-top: 25px;
    width: 23%;
    height: 45vh;
    border: 15px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
  }

  .discounts{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
  /* .discounts>div{
    width: 50px;
    height: 250px;
    background: saddlebrown;
    margin-left: 1310px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
   
  } */